.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(33, 29, 58);
  padding-bottom: 30px;
  justify-content: center;
}

.title { 
  font-size: 35px; 
  color: white;
  margin: auto;
  justify-content: center;
  text-align: center;
}

.toggle {
  
}

.chart {
  margin-top: 100px;
}
